
/* REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  height: 100vh;
  background-color:#000000;
}

/* HEADER*/

header {
  padding: 30px;
  color: white;
  position: relative;
}

  header .header-button {
    position: absolute;
    right:8px;
    top: 12px;
  }

  .header-button span {
    background-color: #4A4A4A;
    padding: 5px;
    border-radius: 5px;
  }
/* MAIN */


/* FOOTER */

footer {
  min-height:80px;
  background-color: #222222;
  position: sticky;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
}